<!DOCTYPE html>

<html>
    <head>

        <link rel="stylesheet" href = "./css/styles.css">
        
    </head>
    <body>
        <div class = "main-page-content">

            {{>header}}
            <img src ="./images/robot.jpg">
            <p> Myself Krishna vamsi currently doing my B.Tech in BITS PILANI Hyderabad campus </p>

        </div>

        
        {{>footer}}
    </body>
</html>