<!DOCTYPE html>

<html>
    <head>
        <link rel ="icon" href ="./images/weather.png">
        <link rel = "stylesheet" href = "./css/styles.css">
    </head>

    <body>
        <div class = "main-page-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>

        {{>footer}}

    </body>

</html>
